<h1>CIDENET <small>Empleados</small></h1>
<hr>

<app-paginacion [empleados]="empleados" [paginacion]="paginacion"  (irpagina)="irPagina($event)" (nextpage)="nextPage()" (previouspage)="previousPage()" ></app-paginacion>

<div class="card-deck">

  <app-empleado-tarjeta  [empleado]="empleado" [index]="i"  *ngFor="let empleado of empleados; let i = index" (cosultaEmpleados)="ngOnInit()"></app-empleado-tarjeta>

</div>


