<div class="card " style="width: 350px; height: 600px;">
  <div class="card-body">
    <h4 class="card-title titleCustom">
      {{ empleado.primer_apellido }}
      {{ empleado.segundo_apellido }}
      {{ empleado.primer_nombre }}
      {{ empleado.otros_nombres }}</h4><br>
    <p class="card-text">
      <b>{{ empleado.tipo_identificacion }}:</b> <br>
      {{ empleado.no_identificacion }}
    </p>
    <p class="card-text">
      <b>Correo: </b><br>
      {{ empleado.correo }}
    </p>
    <p class="card-text">
      <b>Area: </b><br>
      {{ empleado.area }}
    </p>
    <p class="card-text">
      <b>Fecha de Ingreso: </b><br>
      {{ empleado.fecha_ingreso }}
    </p>
    <p class="card-text">
      <b>Estado: </b><br>
      {{ empleado.estado }}
    </p>
    <p class="card-text">
      <b>Pais de Empleo: </b><br>
      {{ empleado.pais_empleo }}
    </p>

    <p class="card-text">
      <small class="text-muted">
        Fecha de Registro: {{ empleado.fecha_hora_registro }}
      </small><br>
      <small *ngIf="empleado.fecha_edicion" class="text-muted">
        Actualizado: {{ empleado.fecha_edicion }}
      </small>
    </p>

    <div class="col text-center">
      <button type="button" class="btn btn-outline-primary" (click)="editarEmpleado()">Editar</button>
      
      <button type="button" class="btn btn-outline-danger" data-toggle="modal"
        data-target="#exampleModalCenter">Eliminar</button>
    </div>

  </div>
</div>



<!-- Modal -->
<div #exampleModalCenter class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Alerta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Seguro que desea eliminar al empleado {{ empleado.primer_nombre }} {{ empleado.primer_apellido }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="eliminarEmpleado(empleado.id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>