<h4>Empleado <small *ngIf="!this.editando"> Nuevo </small><small *ngIf="this.editando"> Edición </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Primer Nombre</label>
      <div class="col">

        <input class="form-control" type="text" placeholder="Primer Nombre" formControlName="primer_nombre"
          [class.is-invalid]="nombreNoValido">
        <small *ngIf="nombreNoValido" class="text-danger">
          Solo se permiten mayusculas A-Z sin acentos ni Ñ. Maximo 20 letras
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Otros Nombres</label>
      <div class="col">

        <input class="form-control" type="text" placeholder="Otros Nombres" formControlName="otros_nombres"
          [class.is-invalid]="otrosNombresNoValido">
        <small *ngIf="otrosNombresNoValido" class="text-danger">
          Solo se permiten mayusculas A-Z sin acentos ni Ñ. Maximo 50 letras
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Primer Apellido</label>
      <div class="col">

        <input class="form-control" type="text" placeholder="Primer Apellido" formControlName="primer_apellido"
          [class.is-invalid]="primerApellidoNoValido">
        <small *ngIf="primerApellidoNoValido" class="text-danger">
          Solo se permiten mayusculas A-Z sin acentos ni Ñ. Maximo 20 letras
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Segundo Apellido</label>
      <div class="col">

        <input class="form-control" type="text" placeholder="Segundo Apellido" formControlName="segundo_apellido"
          [class.is-invalid]="segundoApellidoNoValido">
        <small *ngIf="segundoApellidoNoValido" class="text-danger">
          Solo se permiten mayusculas A-Z sin acentos ni Ñ. Maximo 20 letras
        </small>
      </div>
    </div>

    <div *ngIf="this.editando" class="form-group row" >
      <label class="col-2 col-form-label">Correo</label>
      <div class="col">
      <input class="form-control" type="text" placeholder="Correo" formControlName="correo"
        [class.is-invalid]="segundoApellidoNoValido" disabled>
      </div>
    </div>

    <div class="input-group mb-3 ">
      <div class="input-group-prepend col-2">
        <label class="col-2 col-form-label" for="inputGroupSelect01">Pais</label>
      </div>
      <div class="col">
        <select class="custom-select " id="inputGroupSelect01" [class.is-invalid]="paisNoValido" formControlName="id_pais_empleo">
          <option value="1">Colombia</option>
          <option value="2">Estados Unidos</option>
        </select>
        <span *ngIf="paisNoValido" class="text-danger">
          Seleccione un pais
        </span>
      </div>
    </div>


    <div class="input-group mb-3 ">
      <div class="input-group-prepend col-2">
        <label class="col-2 " for="inputGroupSelect01">Tipo Identificacion
        </label>
      </div>
      <div class="col">
        <select class="custom-select " id="inputGroupSelect01" [class.is-invalid]="tipoIdentificacionNoValido" formControlName="id_tipo_identificacion">
          <option value="1">Cédula de Ciudadanía</option>
          <option value="2">Cédula de Extranjería</option>
          <option value="3">Pasaporte</option>
          <option value="4">Permiso Especial</option>
        </select>
        <span *ngIf="tipoIdentificacionNoValido" class="text-danger">
          Seleccione un tipo de identificación
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Numero Identificación</label>
      <div class="col">

        <input class="form-control" type="text" placeholder="Numero de Identificación" formControlName="no_identificacion"
          [class.is-invalid]="no_identificacionNoValido">
        <small *ngIf="no_identificacionNoValido" class="text-danger">
          Solo se permiten numeros y/o letras sin acentos ni Ñ. Maximo 20 letras
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Fecha Ingreso</label>
      <div class="col">

        <input class="form-control" type="text" placeholder="YYYY-MM-DD" formControlName="fecha_ingreso"
          [class.is-invalid]="fecha_ingresoNoValido">
        <small *ngIf="fecha_ingresoNoValido" class="text-danger">
          Ingrese una fecha valida en formato YYYY-MM-DD
        </small>
      </div>
    </div>

    <div class="input-group mb-3 ">
      <div class="input-group-prepend col-2">
        <label class="col-2 col-form-label" for="inputGroupSelect01">Área</label>
      </div>
      <div class="col">
        <select class="custom-select " id="inputGroupSelect01" [class.is-invalid]="areaNoValido" formControlName="id_area">
          <option value="1">Administración</option>
          <option value="2">Financiera</option>
          <option value="3">Compras</option>
          <option value="4">Infraestructura</option>
          <option value="5">Operación</option>
          <option value="6">Talento Humano</option>
          <option value="7">Servicios Varios</option>
        </select>
        <span *ngIf="areaNoValido" class="text-danger">
          Seleccione un área
        </span>
      </div>
    </div>


  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

<div *ngIf="guardando" class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>

<div *ngIf="exitoGuardando" class="alert alert-success" role="alert">
  Gurdado con Exito!
</div>

<div *ngIf="errorGuardando"  class="alert alert-danger" role="alert">
  Error al Guardar! {{mensajeError}}
</div>


<hr>
