<h1>Buscando: <small>{{ termino }}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="empleados.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No hay resultados para: {{ termino }}
    </div>
  </div>
</div>

<div class="card-columns">

  <app-empleado-tarjeta [empleado]="empleado"  [index]="i"  *ngFor="let empleado of empleados; let i =index"></app-empleado-tarjeta>

</div>
