<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item " [ngClass]="paginacion.indiceActivo===1? 'disabled':''">
      <a class="page-link"  tabindex="-1" (click)="previousPage()" >Previous</a>
    </li>

    <li  *ngFor="let item of paginacion.gruposPaginas[paginacion.indiceGrupo]; let i =index" class="page-item" [ngClass]="((paginacion.indiceActivo-1)%paginacion.cantidadBotonesPaginacion)==i?'active':''">
      <a class="page-link" (click)="irPagina(i)">{{item}}</a>
    </li>

    <li class="page-item" [ngClass]="paginacion.indiceActivo===paginacion.numeroPaginas? 'disabled':''">
      <a class="page-link" (click)="nextPage()">Next</a>
    </li>
  </ul>
</nav>